.logon-container{

    width: 100%;
    max-width: 1120px;
    height : 100vh;
    margin : 0 auto;

    /* Display Flex - Por padrão coloca um do lado do outro */
    display : flex ;
    /* Se quiser colocar verticalmente : 
    flex-direction: column; */
    /*Alinha os itens verticalmente */
    align-items: center;
    /*Alinha os itens horizontalmente */
    justify-content : space-between ;
}

.logon-container section.form
{
    width : 100%;
    max-width: 350px;
    margin-right: 30px;

}

.logon-container section.form form
{
    margin-top:100px;
}
.logon-container section.form form h1{
    font-size : 32px;
    margin-bottom: 32px;
}

